.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.background {
  position:fixed;
  background-color:#1a1a1a;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.nav {
  width: 100%;
  background-color: #2a2e3d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-radius: 10px;
}

.nav-item {
  width: calc(100%/3);
  text-align: center;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color:#e71d36;
  text-decoration: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 750px;
}

.content > * {
  margin-top: 30px;
}

.score-form {
  display:flex;
  width: 100%;
  background-color:lightcoral;
  flex-wrap:wrap;
  justify-content: center;
}

/* .search-form {
  width: 100%;
  height: 100px;
  background-color: lightcoral;
  display: flex;
} */

input { 
  background: #1a1a1a;
  border: 1px solid #e71d36;
  border-radius: 10px;
  color: white;
  height: 36px;
  width: auto;
  padding-left: 10px
}

.game-marquee {
  width: 90vw;
  height: calc(90vw/3.33);
  max-width: 750px;
  max-height: calc(750px/3.33);
  background-size: cover;
  background-position: center;
}

.game-marquee-border {
  height: 100%;
  width: 100%;
  border: 2px white;
}

.info {
  display: flex;
  /* flex-direction: column; */
  justify-content: start;
  /* flex-flow: column; */
  align-items: end;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.65) 70%);
  cursor: pointer;
}

.game-title {
  font-size: 22px;
  color: white;
  margin: 10px;
  margin-right: auto;
}

.game-year {
  font-size: 22px;
  color: white;
  margin: 10px;
}

table {
  background: #2a2e3d;
  border-radius: 10px;
  border-collapse: collapse;
  width: 100%;
}
th {
  border-bottom: 1px solid #2b2b2b;
  color: #e71d36;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #e71d36;
}

tbody tr:hover td {
  color: #2b2b2b;
}

h1 {
  color: #e71d36
}

.banner {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background-color:#2a2e3d;
  display:flex;
  align-items: center;
  justify-content: center;
}

.high-score {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.high-score-score {
  text-align: center;
  width: 50%;
  color: #e71d36;
  font-size: 30px;
  font-weight: bold;
}

.short {
  height: 50px;
  transition: 0.5s;
}

.add-score {
  display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.add-score-game {
  background: #1a1a1a;
  border: 1px solid #e71d36;
  border-radius: 10px;
  height: 36px;
  color: white;
  width: calc(100%/3);
  margin: 5px;
  padding-left: 10px;
}

.add-score-inputs {
  display:flex;
  width:100%;
}

.add-score-button {
  cursor: pointer;
  background-color: #e71d36;
  border-radius: 10px;
  border: 0px solid;
  height: 36px;
  display: flex;
  width: calc(100% - 6px);
  padding: 0px;
  margin: 5px;
  transition: 0.5s;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.add-score-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
    transform: scale(0);
}

.search-form {

}

.search-content {
  display: flex;
  justify-content: left;
  width: 100%;
}

.search-button {
  background-color: #e71d36;
  border-radius: 10px;
  width: 25%;
  margin-right: 13px;
  display: flex;
  justify-content: center;
  margin-left: 13px;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.window {
  height: 65vw;
  max-height: 500px;
  width: 100vw;
  border-radius: 10px;
  background-color: #2a2e3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  flex-direction: column;
  gap: 15px;
}

.dynamic {
  width: auto;
  height: auto;
  padding: 50px;
  box-shadow: 2px 2px rgba(0,0,0,0.5);
}

button {
  background-color:#e71d36;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px rgba(0,0,0,0.5);
  width: 100%;
}

.error-message {
  color: #e71d36;
}

.half {
  width: calc(100%/2);
}

.banner-group {
  height: 100px;
  width: 100%;
  display: flex;
  gap: 15px;
}

.high-score, .average-score {
  display: flex;
  flex-direction: column;
  position:absolute;
  justify-content: center;
  text-align:center;
  font-size: 32px;
  font-weight:bold;
  height: auto;
  width: auto;
}

.high-score {
  color:#e71d36;
  .subtext {
    color:rgba(255,255,255,0.25);
  }
}

.average-score {
  color:white;
  .subtext {
    color:#e71d3580;
  }
}

.subtext {
  font-size: 20px;
  font-weight: bold;
  margin-top: -10px;
}

.chart > * {
  height: 90%;
  width: 90%;
}

.highcharts-credits {
  display:none
}