.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 550px;
}

.score-form {
  margin: 30px;
  display:flex;
  width: 550px;
  background-color:lightcoral;
  flex-wrap:wrap;
  justify-content: center;
}

input, button {
  width: 30%;
  height: 45px;
  margin: 15px;
}